streamlit
pdfplumber
python-docx
pytesseract
fpdf
python-dotenv
requests
spacy==3.8.2
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0.tar.gz
Pillow
matplotlib
numpy
reportlab
openai
PyPDF2
docx2txt